{% extends "base.tmpl" %}

{% block title %}Index{% endblock %}


{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
{% endblock %}

{% block body %}
<canvas id="canvas" class="canvas" width="300" height="300"></canvas>
<div>
<button id="btnClear">Clear</button>
<button id="btnSave">Save</button>
</div>
<canvas id="canvas2" class="canvas" width="300" height="300"></canvas>
{% endblock %}



{% block page_js %}
<script type="text/javascript">
var hw;
$(function() {
	hw = HW.create().setup({
        canvas: "canvas",
        canvas2: "canvas2",
	    btnClear: "btnClear",
	    btnSave: "btnSave",
	    serverUrl: "/api/",
	}).start();
});
</script>
{% endblock %}

