{% extends "base.tmpl" %}

{% block title %}手書き認識 目次{% endblock %}


{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
{% endblock %}

{% block body %}
<div style="margin: 3px">
<h1>数字のみ</h1>
<ul>
<li><a href="/numbers/">お試しモード</a></li>
<li><a href="/numbers/training">調教モード</a></li>
</ul>
<h1>数字とひらがな</h1>
<ul>
<li><a href="/num_hira/">お試しモード</a></li>
<li><a href="/num_hira/training">調教モード</a></li>
</ul>

<h1>数字とひらがなV2D8</h1>
<ul>
<li><a href="/num_hira-d8/">お試しモード</a></li>
<li><a href="/num_hira-d8/training">調教モード</a></li>
</ul>


<h1>数字とひらがなV2D4</h1>
<ul>
<li><a href="/num_hira-d4/">お試しモード</a></li>
<li><a href="/num_hira-d4/training">調教モード</a></li>
</ul>
</div>
{% endblock %}


