{% extends "base.tmpl" %}

{% block title %}手書き認識 目次{% endblock %}


{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
{% endblock %}

{% block body %}
<div style="margin: 3px">
<h1>数字とひらがな(ストローク版)</h1>
<ul>
<li><a href="/num_hira-d4/">お試しモード</a></li>
<li><a href="/num_hira-d4/find_error">間違い表示モード</a></li>
<li><a href="/num_hira-d4/training">調教モード(Locked)</a></li>
<li><a href="/num_hira-d4/check_data">データチェックモード(Locked)</a></li>
</ul>

<h1>数字とひらがな(画像版)</h1>
<ul>
<li><a href="/num_hira-i30/">お試しモード</a></li>
<li><a href="/num_hira-i30/find_error">間違い表示モード</a></li>
<li><a href="/num_hira-i30/check_data">データチェックモード(Locked)</a></li>
<li><a href="/num_hira-i30/training">調教モード(Locked)</a></li>
</ul>

</div>
{% endblock %}


