{% extends "base.tmpl" %}

{% block title %}調教モード{% endblock %}


{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
{% endblock %}

{% block body %}

<div style="width: 300px; margin: auto;">
    <canvas id="canvas" class="canvas" width="300" height="300"></canvas>
    <div>
    <div style="float:left;"> <button id="btnSave" class="button">Save</button> </div>
    <div style="float:right;"> <button id="btnClear" class="button">Next</button> </div>
    </div>
</div>

{% endblock %}



{% block page_js %}
<script type="text/javascript">
var hw;
$(function() {
	hw = HW.create().setup({
        canvas: "canvas",
        canvas2: "canvas2",
	    btnClear: "btnClear",
	    btnSave: "btnSave",
	    serverUrl: "/api/",
        training: true,
	}).start();
});
</script>
{% endblock %}

